/* Cards Component */
.container-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
}

.card {
  background: #ffffff; /* Soft background color from the palette */
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  animation: fadeIn 0.8s ease-in-out;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s;
}

.card h2 {
  margin: 15px 0;
  font-size: 1.8em;
  text-align: center;
  color: #81bfda; /* Accent color for heading */
}

.card p {
  padding: 0 20px 20px;
  text-align: center;
  color: #7a5983; /* Text color */
}

.card:hover {
  transform: scale(1.07);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.card:hover img {
  transform: scale(1.1);
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Fade-In Animation */
.fade-in {
opacity: 0;
animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
to {
  opacity: 1;
}
}
/* Section Heading */
.section-heading {
  text-align: center;
  font-size: 2.5em;
  color: #81bfda;
  margin-bottom: 30px;
  font-weight: bold;
  position: relative;
}
